<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Executive Airways</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    <div class="containter">
      <nav>
        <ul>
          <li><strong>Executive Airways</strong></li>
        </ul>
        <!-- Conditionally render login or logout links -->
        <u1>
          {{#if home}}
            <li></li>
          {{else}}
            <li><a href="/">Home</a></li>
          {{/if}}
          <li><a href="/menu">Menu</a></li>
          {{#if logged_in}}

            <li><a href="#" role="button" id="logout">logout</a></li>
          {{else}}
            <li><a href="/login" role="button">login</a></li>
          {{/if}}
        </u1>

      </nav>
      {{{body}}}
    </div>
    <script type="application/javascript" src="/js/logout.js"></script>

  </body>

</html>