<div class="grid">
  <dialog id="modal" open="false">
    <article>
      <h3>Username or password not found!</h3>
      <p>Please double check your username and password and try again.</p>
      <footer>
        <a href="/login" role="button">Confirm</a>
      </footer>
    </article>
  </dialog>
  <article>
    <header>
      <h2><abbr>Login</abbr></h2>
    </header>

    <form>
      <div class="grid">
        <label for="username">Username:
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
          />
        </label>
      </div>

      <div class="grid">
        <label for="password">Password:
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
        </label>
      </div>
      <button class="btn" id="loginBtn">Log In</button>

    </form>

  </article>

  <article>
    <header>
      <h2>Sign up</h2>
    </header>

    <form>
      <div class="grid">
        <label for="username">Username:
          <input
            type="text"
            id="signupUsr"
            name="username"
            placeholder="Enter your username"
          />
        </label>
      </div>
      <div class="grid">
        <label for="password">Password:
          <input
            type="password"
            id="signupPwd"
            name="password"
            placeholder="Enter your password"
          />
        </label>
      </div>
      <button class="btn" id="signupBtn">Sign Up</button>
    </form>
  </article>
</div>
<script type="application/javascript" src="/js/login.js"></script>