<article class="container">
    <h1>
        Standard Lounge Menu
    </h1>
    <details open>
        <summary >
            This showcases our complementary beverage/food throughout the week which in included with our standard membership
        </summary>
        <details>
            <summary>
                Monday
            </summary>
            <p>Glizzy for Monday and budlight</p>
            <div class="grid">
            <img src="/img/Hotdog.jpeg" alt="Glizzy" width="auto" height="400px">
            <img src="/img/budlight.jpg" alt="" width=400px height=auto>
          </div>
        </details>
        <details>
            <summary>
                Tuesday
            </summary>
            <p>Glizzy for Tuesday and budlight</p>
            <div class="grid">
                <img src="/img/Hotdog.jpeg" alt="Glizzy" width="auto" height="400px">
                <img src="/img/budlight.jpg" alt="" width=400px height=auto>
        </details>
        <details>
            <summary>
                Wednesday
            </summary>
            <p>Glizzy for Wednesday and budlight</p>
            <div class="grid">
                <img src="/img/Hotdog.jpeg" alt="Glizzy" width="auto" height="400px">
                <img src="/img/budlight.jpg" alt="" width=400px height=auto>
        </details>
        <details>
            <summary>
                Thursday
            </summary>
            <p>Glizzy for Thursday and budlight</p>
            <div class="grid">
                <img src="/img/Hotdog.jpeg" alt="Glizzy" width="auto" height="400px">
                <img src="/img/budlight.jpg" alt="" width=400px height=auto>
        </details>
        <details>
            <summary>
                Friday
            </summary>
            <p>Glizzy for Friday and budlight</p>
            <div class="grid">
                <img src="/img/Hotdog.jpeg" alt="Glizzy" width="auto" height="400px">
                <img src="/img/budlight.jpg" alt="" width=400px height=auto>
        </details>
        <p>
            Our Menu changes on a weekly basis
        </p>
    </details>
    For more options, become an Exeucutive Member!
</article>

<article class="container">
<h1>
    Executive Longue Menu
</h1>
    <summary>
        Please sign-up or login to view our executive items
    </summary>
<div class="grid">
    <div role=button>
        Sign Up or login!
    </div>
    
</div>
</article>