<div class="menu-text" id="menu-position">
  <article class="container">
    <h1>
      Standard Lounge Menu
    </h1>
    <details open>
      <summary>
        Our complementary food/beverage options included with our standard
        membership
      </summary>
      <details>
        <summary>
          Monday
        </summary>
        <p>Hotdog and Budlight</p>
        <div class="grid">
          <img src="/img/hotdog1.jpg" alt="Glizzy" />
          <img src="/img/betterbudlight.jpeg" alt="" />
        </div>
      </details>
      <details>
        <summary>
          Tuesday
        </summary>
        <p>Sliders and Corona</p>
        <div class="grid">
          <img src="/img/sliders.jpeg" alt="Glizzy" />
          <img src="/img/corona.jpeg" alt="" />
        </div>
      </details>
      <details>
        <summary>
          Wednesday
        </summary>
        <p>Ceasar Salad and Lacroix</p>
        <div class="grid">
          <img src="/img/salad.jpeg" alt="Glizzy" />
          <img src="/img/lacroix.jpeg" alt="" />
        </div>
      </details>
      <details>
        <summary>
          Thursday
        </summary>
        <p>Red Sauce Spaghetti and Lemonade</p>
        <div class="grid">
          <img src="/img/spagetti.jpg" alt="Glizzy" />
          <img src="/img/lemonade.jpg" alt="" />
        </div>
      </details>
      <details>
        <summary>
          Friday
        </summary>
        <p>Turkey Club and Coconut Water</p>
        <div class="grid">
          <img src="/img/turkey.jpg" alt="Glizzy" />
          <img src="/img/cocowater.jpeg" alt="" />
        </div>

      </details>
      <p>For more options, become an Exeucutive Member!</p>
    </details>
    *** Our menu changes on a weekly basis

  </article>

  <article class="container">
    <h1>
      Platinum Member Lounge Menu
    </h1>
    {{#if logged_in}}
      <details open>
        <summary>
          Our exclusive food/beverage options included within our "Platinum"
          Membership
        </summary>
        <details>
          <summary>
            Monday
          </summary>
          <p>Chicken Pesto Sandwhich and Lucy Juicy IPA</p>
          <div class="grid">
            <img src="/img/chickenpesto.jpg" alt="Glizzy" />
            <img src="/img/lucy.jpg" alt="" />
          </div>
        </details>
        <details>
          <summary>
            Tuesday
          </summary>
          <p>Porkchop/Mash potato and Guinness</p>
          <div class="grid">
            <img src="/img/chopandtato.jpg" alt="Glizzy" />
            <img src="/img/guinness.jpg" alt="" />
          </div>
        </details>
        <details>
          <summary>
            Wednesday
          </summary>
          <p>Steak Salad and Chardonnay</p>
          <div class="grid">
            <img src="/img/steaksalad.jpeg" alt="Glizzy" />
            <img src="/img/chard.jpg" alt="" />
          </div>
        </details>
        <details>
          <summary>
            Thursday
          </summary>
          <p>Chicken Carbonara and Cabernet Sauvignon</p>
          <div class="grid">
            <img src="/img/carbonara.jpg" alt="Glizzy" />
            <img src="/img/cab.jpg" alt="" />
          </div>
        </details>
        <details>
          <summary>
            Friday
          </summary>
          <p>American Wagyu and choice of Cocktail</p>
          <div class="grid">
            <img src="/img/steak.jpg" alt="Glizzy" />
            <img src="/img/cocktail.jpg" alt="" />
          </div>
        </details>

        ***Our Menu changes on a weekly basis

      </details>
    {{else}}
      <summary>
        Please sign-up or login to view our executive items
      </summary>
      <div class="grid">
        <a href="/login" role="button"> Sign Up or login!</a>

      </div>
    {{/if}}
  </article>
</div>