.homepage-text {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  padding-top: 45vh;
}
.homepage {
  height: 95%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: url("https://wallpaperaccess.com/full/3410872.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.menu-text {
  text-align: center;
}
.homepage-gradient {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgb(17, 25, 31);
  background: linear-gradient(
    360deg,
    rgba(17, 25, 31, 1) 0%,
    rgba(17, 25, 31, 0.5) 60%,
    rgba(17, 25, 31, 0) 100%
  );
}

.menu-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: url("https://wallpaperaccess.com/full/3410872.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.menu-hero-text {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

.menu-hero-gradient {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgb(17, 25, 31);
  background: linear-gradient(
    360deg,
    rgba(17, 25, 31, 1) 0%,
    rgba(17, 25, 31, 0.5) 60%,
    rgba(17, 25, 31, 0) 100%
  );
}
#menu-position {
  position: relative;
  top: -500px;
}
#menu-position img {
  width: 50%;
}

#login-position {
  position: relative;
  top: -400px;
}
